.container_skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container_skills .card_skill{
    width: 24%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-bg-variant);
    padding: 10px;
    border-radius:12px;
    margin-bottom: 20px;

}

.container_skills .card_skill .icon{
    width: 65px;
    height: 65px;
    padding: 0.7rem;
    border-radius: 10px;

}

.container_skills .card_skill h3{
    font-size: 1rem;
 
}





@media(max-width:1024px) {
    .container_skills .card_skill{
        width: 48%;
    }


} 

@media(max-width:600px) {
    .container_skills .card_skill{
        width: 49%;
    }
    .container_skills .card_skill .icon{
        width: 60px;
        height: 60px;
        padding: 0.6rem;

    }
    .container_skills .card_skill h3{
    font-size: 1rem;
    }
   
}

